body {
    color:teal;
    background-color: lightsalmon;
}
p {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
}
img {
    margin-left: auto;
    margin-right: auto;
}