body {
    color:teal;
    background-color: lightsalmon;
}
p {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
}
img {
    opacity: 0.9;
    border-radius: 25px;
    display: block;
    margin: auto;
    width: 50%;
}
h1, h2, h3 {
    text-align: center;
}
